<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
  </head>
  <body>
      <form method="POST">
          Name: <input name="name" />
          Email: <input name="email" />
          <input type="submit" value="Submit">
      </form>
  </body>
</html>