<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
  </head>
  <body>
    <h1>{{{title}}}</h1>
    <hr>
    <h6> Let's see what {{{name}}} is thinking about: </h6>
    <p> {{{content}}}</p>
    <hr>
    <a href="/posts">All posts</a>
  </body>
</html>